<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inter:wght@400;600;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- SIDEBAR -->
        <div
          class="col-2 sidebar overflow-y-auto w-17 position-fixed top-0 left-0 bottom-0"
        >
          <a class="logo-sidebar" href="../../index.html"
            ><img src="../../img/neos-logo.png" alt=""
          /></a>
          <ul class="w-100 ps-5">
            <li class="fs-5 p-2">
              <i class="neo-diagram-purple w-7"></i>
              Customize
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="./index.html" class="text-black fs-6">Color</a>
                </li>
                <li class="pb-3">
                  <a href="../shadow/index.html" class="text-black fs-6"
                    >Shadow</a
                  >
                </li>
              </ul>
            </li>
            <li class="fs-5 p-2">
              <i class="neo-box-neon w-7"></i>
              Layout
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../containers/index.html" class="text-black fs-6"
                    >Containers</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../grid/index.html" class="text-black fs-6">Grid</a>
                </li>
              </ul>
            </li>
            <li class="fs-5 p-2">
              <i class="neo-form-blue w-7"></i>
              Forms
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../select/index.html" class="text-black fs-6"
                    >Select</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../Checks-radios/index.html" class="text-black fs-6"
                    >Check & Radios</a
                  >
                </li>
                <li class="pb-3">
                  <a
                    href="../register-login-form/index.html"
                    class="text-black fs-6"
                    >Register & Login</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../input-group/index.html" class="text-black fs-6"
                    >Input Groups</a
                  >
                </li>
              </ul>
            </li>
            <li class="fs-5 p-2">
              <i class="neo-arrow-up-right w-7"></i>
              Functions
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../border/index.html" class="text-black fs-6"
                    >Border</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../display/index.html" class="text-black fs-6"
                    >Display</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../sizing/index.html" class="text-black fs-6"
                    >Sizing</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../sizing/index.html" class="text-black fs-6"
                    >Position</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../spacing/index.html" class="text-black fs-6"
                    >Spacing</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../Text/index.html" class="text-black fs-6">Text</a>
                </li>
              </ul>
            </li>
            <li class="fs-6 p-2">
              <i class="neo-server-brown w-7"></i>
              Components
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../buttons/index.html" class="text-black fs-6"
                    >Buttons</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../card/index.html" class="text-black fs-6">Card</a>
                </li>
                <li class="pb-3">
                  <a href="../Carousel/index.html" class="text-black fs-6"
                    >Carousel</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../Dropdown/index.html" class="text-black fs-6"
                    >Dropdowns</a
                  >
                </li>
              </ul>
            </li>
            <li class="fs-6 p-2">
              <i class="neo-pen-ruler-red w-7"></i>
              <a href="" class="text-black fs-6">Icons</a>
            </li>
            <li class="fs-6 p-2">About</li>
            <li class="fs-6 p-2">SSS</li>
            <li class="fs- p-2">Contact</li>
          </ul>
        </div>
        <div class="col-10">
          <!--? İÇERİK KISMI  -->

          <div class="content-container">
            <div id="content">
              <!-- <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-neosblue">
                        
                        <span><i class="fas fa-align-left"></i></span>
                    </button>
                

                </div>
            -->

              <!-- ICONS ÖZELLİKLERİ -->
              <div class="main">
                <span class="text-neosblue mt-5"><h1>ICONS</h1></span>
                <p class="fw-ligt mt-3 fs-6">
                  Neos, sizlere projelerinizde kullanmak üzere birkaç farklı
                  çalışılmış ikonlar sunar.
                </p>
                <div class="main-item">
                  <div class="main-border mt-5">
                    <div class="main-bottom position-relative p-5">
                      <ul class="d-flex icons-group">
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-search-black w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-search black</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-search-white w-92"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-search-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-user-black w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-user-black</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-user-white w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-user-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-facebook-black w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-facebook-black</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-facebook-white w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-facebook-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-facebook-blue w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-facebook-blue</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-instagram-black w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-instagram-black</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-instagram-white w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-instagram-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-x-twitter-box w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-x-twitter-box</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-x-twitter-box-white w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-x-twitter-box-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-github-black w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-github-black</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-github-white w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-github-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-linkedin-black w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-linkedin-black</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-linkedin-white w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-linkedin-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-phone-black w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-phone-black</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-phone-white w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-phone-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-mail-black w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-mail-black</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-mail-white w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-mail-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-basket-shopping-black w-50"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-basket-shopping-black</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-basket-shopping-white w-50"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-basket-shopping-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-cart-shopping-black w-50"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-cart-shopping-black</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-cart-shopping-white w-50"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-cart-shopping-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-star-black w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-star-black</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-star-white w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-star-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-star-gold w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-star-gold</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-heart-black w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-heart-black</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-heart-white w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-heart-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-heart-red w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-heart-red</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-world"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-world</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-world-white w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-world-white</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-box-neon w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-box-neon</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-diagram-purple w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-diagram-purple</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-form-blue w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-form-blue</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-arrow-up-right w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-arrow-up-right</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-server-brown w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-server-brown</p>
                          </div>
                        </li>
                        <li class="ms-4 mt-4">
                          <div
                            class="px-4 py-4 mx-5 bg-gray text-center rounded"
                          >
                            <i class="neo-pen-ruler-red w-100"></i>
                          </div>
                          <div class="mt-4">
                            <p class="">neo-pen-ruler-red</p>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="kapsayici">
                      <pre class="main-code fs-5 p-2">
                            <code >
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-search-black w-100"</span><span class="mark">&gt;</span>neo-search black<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-search-white w-100"</span><span class="mark">&gt;</span>neo-search white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-user-black w-100"</span><span class="mark">&gt;</span>neo-user-black<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-user-white w-100"</span><span class="mark">&gt;</span>neo-user-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-facebook-black w-100"</span><span class="mark">&gt;</span>neo-facebook-black<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-facebook-white w-100"</span><span class="mark">&gt;</span>neo-facebook-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-facebook-blue w-100"</span><span class="mark">&gt;</span>neo-facebook-blue<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-instagram-black w-100"</span><span class="mark">&gt;</span>neo-instagram-black<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-instagram-white w-100"</span><span class="mark">&gt;</span>neo-instagram-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-x-twitter-box w-100"</span><span class="mark">&gt;</span>neo-x-twitter-box<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-x-twitter-box-white w-100"</span><span class="mark">&gt;</span>neo-x-twitter-box-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-github-black w-100"</span><span class="mark">&gt;</span>neo-github-black<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-github-white w-100"</span><span class="mark">&gt;</span>neo-github-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-linkedin-black w-100"</span><span class="mark">&gt;</span>neo-linkedin-black<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-linkedin-white w-100"</span><span class="mark">&gt;</span>neo-linkedin-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-phone-black w-100"</span><span class="mark">&gt;</span>neo-phone-black<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-phone-white w-100"</span><span class="mark">&gt;</span>neo-phone-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-mail-black w-100"</span><span class="mark">&gt;</span>neo-mail-black<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-mail-white w-100"</span><span class="mark">&gt;</span>neo-mail-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-basket-shopping-black w-100"</span><span class="mark">&gt;</span>neo-basket-shopping-black<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-basket-shopping-white w-100"</span><span class="mark">&gt;</span>neo-basket-shopping-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-cart-shopping-black w-100"</span><span class="mark">&gt;</span>neo-cart-shopping-black<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-cart-shopping-white w-100"</span><span class="mark">&gt;</span>neo-cart-shopping-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-star-black w-100"</span><span class="mark">&gt;</span>neo-star-black<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-star-white w-100"</span><span class="mark">&gt;</span>neo-star-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-star-gold w-100"</span><span class="mark">&gt;</span>neo-star-gold<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-heart-black w-100"</span><span class="mark">&gt;</span>neo-heart-black<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-heart-white w-100"</span><span class="mark">&gt;</span>neo-heart-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-heart-red w-100"</span><span class="mark">&gt;</span>neo-heart-red<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-world w-100"</span><span class="mark">&gt;</span>neo-world<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-world-white w-100"</span><span class="mark">&gt;</span>neo-world-white<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-box-neon w-100"</span><span class="mark">&gt;</span>neo-box-neon<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-diagram-purple w-100"</span><span class="mark">&gt;</span>neo-diagram-purple<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-form-blue w-100"</span><span class="mark">&gt;</span>neo-form-blue<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-arrow-up-right w-100"</span><span class="mark">&gt;</span>neo-arrow-up-right<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-server-brown w-100"</span><span class="mark">&gt;</span>neo-server-brown<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">i class=</span><span class="attr">"neo-pen-ruler-red w-100"</span><span class="mark">&gt;</span>neo-pen-ruler-red<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">i</span><span class="mark">&gt;</span>

                        </code>
                          </pre>
                      <div class="main-html d-flex pt-2 p-2">
                        <p class="text-black fs-6 fw-normal mt-2">HTML</p>
                        <div class="d-flex ms-auto">
                          <button type="button" class="p-1">
                            <img
                              class="fa-copy w-30"
                              src="../../img/copy-img.png"
                              alt="copy"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../main.js"></script>
  </body>
</html>
