/* site cssi */
*{
    font-family: 'Agdasima', sans-serif;
    font-family: 'Inter', sans-serif;
    }
body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    height: max-content;
}
/* ---------------------------------------------------
            CONTENT STYLE
        ----------------------------------------------------- */
        .content-container {
            width: 85%;
            margin-left: 20%;
        }

        #content {
            width: 100%;
            padding: 20px;
            min-height: 100vh;
            transition: all 0.3s;
            
        }

        /* ---------------------------------------------------
            MEDIAQUERIES
        ----------------------------------------------------- */

        
        @media (max-width: 832px) {
            .slide-container{
                width: 30%;
            }
            .content-container{
                width: 100%;
            }
            #content{
                padding: 5px;
            }
        
        }




        /* içerikkk */
        .main{
            padding: 1rem;
        }
        .main-border{
            border: 0.2rem solid #f0f0f0 !important;
            border-radius: 10px;
            
        }
        .main-bottom{
            padding: 1rem;
            border-bottom: 0.2rem solid #f0f0f0 !important;
        }
        .main-code{
            max-width: 100%;
            background-color: rgb(248, 248, 248);
            overflow: auto;
            background: #F8F9FA;
            color: rgba(0, 0, 0, 0.742);
        }


        .markup{
            color: var(--black);
            text-align: left;
        }
        .ticket{
            color: rgba(229, 11, 36, 0.742);
        }
        .attr{
            color: rgb(12, 208, 230);
        }
        .mark{
            color:rgb(9, 5, 5);
        }
        ul a:hover {
            background-color: #49dbfc46;
            padding: 5px;
            border-radius: 5px;
        }

        /* site içerisindeki border için */
        .border-genel-container {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        
        }
        .border-genel{
            width: 100px;
            height: 100px;
            background-color: #f0f0f0;
        }
        .view{
            max-width: 100%;
        }
        /* kopyala yapıştır için html bölgemiz*/
        .kapsayici{
        display: flex;
        flex-direction: column;
        }
        .main-html{
        border-top: 1px solid #f0f0f0;
        background-color:#F8F9FA;
        display: flex;
        justify-content: space-between;
        }
