<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inter:wght@400;600;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- SIDEBAR -->
        <div
          class="col-2 sidebar overflow-y-auto w-17 position-fixed top-0 left-0 bottom-0"
        >
        <a class="logo-sidebar" href="../../index.html"
        ><img src="../../img/neos-logo.png" alt=""
      /></a>
          <ul class="w-100 ps-5">
            <li class="fs-5 p-2">
              <i class="neo-diagram-purple w-7"></i>
              Customize
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../colors/index.html" class="text-black fs-6">Color</a>
                </li>
              </ul>
            </li>
            <li class="fs-5 p-2">
              <i class="neo-box-neon w-7"></i>
              Layout
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../containers/index.html" class="text-black fs-6"
                    >Containers</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../grid/index.html" class="text-black fs-6">Grid</a>
                </li>
              </ul>
            </li>
            <li class="fs-5 p-2">
              <i class="neo-form-blue w-7"></i>
              Forms
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../select/index.html" class="text-black fs-6">Select</a>
                </li>
                <li class="pb-3">
                  <a href="../Checks-radios/index.html" class="text-black fs-6"
                    >Check & Radios</a
                  >
                </li>
              </ul>
            </li>
            <li class="fs-5 p-2">
              <i class="neo-arrow-up-right w-7"></i>
              Functions
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../border/index.html" class="text-black fs-6"
                    >Border</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../display/index.html" class="text-black fs-6"
                    >Display</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../sizing/index.html" class="text-black fs-6"
                    >Sizing</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../position/index.html" class="text-black fs-6"
                    >Position</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../spacing/index.html" class="text-black fs-6">Spacing</a>
                </li>
                <li class="pb-3">
                  <a href="../Text/index.html" class="text-black fs-6">Text</a>
                </li>
              </ul>
            </li>
            <li class="fs-6 p-2">
              <i class="neo-server-brown w-7"></i>
              Components
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../buttons/index.html" class="text-black fs-6"
                    >Buttons</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../card/index.html" class="text-black fs-6">Card</a>
                </li>
                <li class="pb-3">
                  <a href="./index.html" class="text-black fs-6">Carousel</a>
                </li>
                <li class="pb-3">
                  <a href="../Dropdown/index.html" class="text-black fs-6">Dropdowns</a>
                </li>
              </ul>
            </li>

            <li class="fs-6 p-2">About</li>
            <li class="fs-6 p-2">SSS</li>
            <li class="fs- p-2">Contact</li>
          </ul>
        </div>
        <div class="col-10">
          <!--? İÇERİK KISMI  -->

          <div class="content-container">
            <div id="content">
              <!-- <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-neosblue">
                        
                        <span><i class="fas fa-align-left"></i></span>
                    </button>
                

                </div>
            -->

              <!-- SLIDER ÖZELLİKLERİ -->
              <div class="main">
                <span class="text-neosblue mt-5"
                  ><h1>CAROUSEL & SLIDER</h1></span
                >
                <p class="fw-ligt mt-3 fs-6">
                  Carouseller, kullanıcılara çeşitli içerikleri keşfetme ve
                  etkileşimde bulunma imkanı sunar. Resimler, videolar, metinler
                  veya diğer medya öğeleri gibi farklı içerik türlerini
                  kullanabilir. Kullanıcılar, sağa veya sola doğru kaydırarak
                  içerikleri görüntüleyebilir.
                </p>
                <div class="main-item">
                  <div class="main-title">
                    <p class="mt-5 w-100 text-black fs-3 pb-4">#Örnek</p>
                  </div>
                  <div class="main-border">
                    <div class="main-bottom position-relative">
                      <!-- --- SLİDER --- -->

                      <div
                        class="slider-container m-auto"
                        data-slider-id="slider"
                      >
                        <div class="slider-content" data-position="0">
                          <!-- Slider İçerikleri -->
                          <div class="slide">
                            <img
                              class="w-100 h-100 object-fit-cover"
                              src="../../img/manzara2.jpeg"
                              alt="Slide 1"
                            />
                          </div>
                          <div class="slide">
                            <img
                              class="w-100 h-100 object-fit-cover"
                              src="../../img/manzara3.webp"
                              alt="Slide 2"
                            />
                          </div>
                          <div class="slide">
                            <img
                              class="w-100 h-100 object-fit-cover"
                              src="../../img/manzaralp.jpeg"
                              alt="Slide 3"
                            />
                          </div>
                        </div>
                        <div
                          class="arrow left"
                          data-slider-id="slider"
                          data-method="prev"
                        >
                          &#10094;
                        </div>
                        <div
                          class="arrow right"
                          data-slider-id="slider"
                          data-method="next"
                        >
                          &#10095;
                        </div>
                      </div>
                    </div>

                    <div class="kapsayici">
                      <pre class="main-code fs-5 p-2">
                            <code >
<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"slider-container"</span>&nbsp;<span class="ticket">data-slider-id=</span><span class="attr">"slider"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"slider-content"</span>&nbsp;<span class="ticket">data-position=</span><span class="attr">"0"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"slide"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">img class=</span><span class="attr">"w-100 h-100 object-fit-cover"</span>&nbsp;<span class="ticket">src=</span><span class="attr">"resim1.jpg"</span>&nbsp;<span class="ticket">alt=</span><span class="attr">" "</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"slide"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">img class=</span><span class="attr">"w-100 h-100 object-fit-cover"</span>&nbsp;<span class="ticket">src=</span><span class="attr">"resim2.jpg"</span>&nbsp;<span class="ticket">alt=</span><span class="attr">" "</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"slide"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">img class=</span><span class="attr">"w-100 h-100 object-fit-cover"</span>&nbsp;<span class="ticket">src=</span><span class="attr">"resim3.jpg"</span>&nbsp;<span class="ticket">alt=</span><span class="attr">" "</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"arrow left"</span>&nbsp;<span class="ticket">data-slider-id=</span><span class="attr">"slider"</span>&nbsp;<span class="ticket">data-method=</span><span class="attr">"prev"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<p class=" d-inline">&</p>#10094;
&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"arrow right"</span>&nbsp;<span class="ticket">data-slider-id=</span><span class="attr">"slider"</span>&nbsp;<span class="ticket">data-method=</span><span class="attr">"next"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<p class=" d-inline">&</p>#10095;
&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
                        </code>
                          </pre>
                      <div class="main-html d-flex pt-2 p-2">
                        <p class="text-black fs-6 fw-normal mt-2">HTML</p>
                        <div class="d-flex ms-auto">
                          <button type="button" class="p-1">
                            <img
                              class="fa-copy w-30"
                              src="../../img/copy-img.png"
                              alt="copy"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- AUTO-SLIDER özellikleri -->
                <div class="main">
                <div class="main-item">
                  <div class="main-title">
                    <p class="mt-5 w-100 text-black fs-3 pb-4">#Autoplay</p>
                  </div>
                  <div class="main-border">
                    <div class="main-bottom position-relative">
                      <!-- --- SLİDER --- -->
                      <div class="slider-container-auto m-auto" data-slider-id="slider" data-autoplay="true">
                        <ol class="carousel-indicators">
                          <li
                            data-nl-target="#carouselIndicators"
                            data-slide-to="0"
                            class="dot active"
                            data-target-slide="0"
                          ></li>
                          <li
                            data-nl-target="#carouselIndicators"
                            data-slide-to="1"
                            class="dot"
                            data-target-slide="1"
                          ></li>
                          <li
                            data-nl-target="#carouselIndicators"
                            data-slide-to="2"
                            class="dot"
                            data-target-slide="2"
                          ></li>
                        </ol>
                        <div class="slider-content" data-position="0">
                          <!-- Slider İçerikleri -->
                          <div class="slide">
                            <img
                              class="w-100 h-100 object-fit-cover"
                              src="../../img/manzara3.webp"
                              alt="Slide 1"
                            />
                          </div>
                          <div class="slide">
                            <img
                              class="w-100 h-100 object-fit-cover"
                              src="../../img/manzara2.jpeg"
                              alt="Slide 2"
                            />
                          </div>
                          <div class="slide">
                            <img
                              class="w-100 h-100 object-fit-cover"
                              src="../../img/manzaralp.jpeg"
                              alt="Slide 3"
                            />
                          </div>
                        </div>
                        <div class="arrow left" data-slider-id="slider" data-method="prev">
                          &#10094;
                        </div>
                        <div class="arrow right" data-slider-id="slider" data-method="next">
                          &#10095;
                        </div>
                      </div>
                      </div>
                    </div>

                    <div class="kapsayici">
                      <pre class="main-code fs-5 p-2">
                            <code >
<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"slider-container-auto"</span>&nbsp;<span class="ticket">data-slider-id=</span><span class="attr">"slider"</span>&nbsp;<span class="ticket">data-autoplay=</span><span class="attr">"true"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">ol class=</span><span class="attr">"carousel-indicators"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">li class=</span><span class="attr">"dot active"</span>&nbsp;<span class="ticket">data-nl-target=</span><span class="attr">"#carouselIndicators"</span>&nbsp;<span class="ticket">data-slide-to=</span><span class="attr">"0"</span>&nbsp;<span class="ticket">data-target-slide=</span><span class="attr">"0"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span>/<span class="ticket">li</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">li class=</span><span class="attr">"dot"</span>&nbsp;<span class="ticket">data-nl-target=</span><span class="attr">"#carouselIndicators"</span>&nbsp;<span class="ticket">data-slide-to=</span><span class="attr">"1"</span>&nbsp;<span class="ticket">data-target-slide=</span><span class="attr">"1"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">li</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">li class=</span><span class="attr">"dot"</span>&nbsp;<span class="ticket">data-nl-target=</span><span class="attr">"#carouselIndicators"</span>&nbsp;<span class="ticket">data-slide-to=</span><span class="attr">"2"</span>&nbsp;<span class="ticket">data-target-slide=</span><span class="attr">"2"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">li</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span>/<span class="ticket">ol</span><span class="mark">&gt;</span>
&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"slider-content"</span>&nbsp;<span class="ticket">data-position=</span><span class="attr">"0"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"slide"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">img class=</span><span class="attr">"w-100 h-100 object-fit-cover"</span>&nbsp;<span class="ticket">src=</span><span class="attr">"resim1.jpg"</span>&nbsp;<span class="ticket">alt=</span><span class="attr">" "</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span>/<span class="ticket">div</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"slide"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">img class=</span><span class="attr">"w-100 h-100 object-fit-cover"</span>&nbsp;<span class="ticket">src=</span><span class="attr">"resim2.jpg"</span>&nbsp;<span class="ticket">alt=</span><span class="attr">" "</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span>/<span class="ticket">div</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"slide"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">img class=</span><span class="attr">"w-100 h-100 object-fit-cover"</span>&nbsp;<span class="ticket">src=</span><span class="attr">"resim3.jpg"</span>&nbsp;<span class="ticket">alt=</span><span class="attr">" "</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span>/<span class="ticket">div</span><span class="mark">&gt;</span>
&nbsp;&nbsp;<span class="mark">&lt;</span>/<span class="ticket">div</span><span class="mark">&gt;</span>
&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"arrow left"</span>&nbsp;<span class="ticket">data-slider-id=</span><span class="attr">"slider"</span>&nbsp;<span class="ticket">data-method=</span><span class="attr">"prev"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<p class="d-inline">&</p>#10094;
&nbsp;&nbsp;<span class="mark">&lt;</span>/<span class="ticket">div</span><span class="mark">&gt;</span>
&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"arrow right"</span>&nbsp;<span class="ticket">data-slider-id=</span><span class="attr">"slider"</span>&nbsp;<span class="ticket">data-method=</span><span class="attr">"next"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<p class="d-inline">&</p>#10095;
&nbsp;&nbsp;<span class="mark">&lt;</span>/<span class="ticket">div</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span>/<span class="ticket">div</span><span class="mark">&gt;</span>
                        </code>
                          </pre>
                      <div class="main-html d-flex pt-2 p-2">
                        <p class="text-black fs-6 fw-normal mt-2">HTML</p>
                        <div class="d-flex ms-auto">
                          <button type="button" class="p-1">
                            <img
                              class="fa-copy w-30"
                              src="../../img/copy-img.png"
                              alt="copy"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../main.js"></script>
  </body>
</html>
