/* site cssi */
*{
    font-family: 'Agdasima', sans-serif;
    font-family: 'Inter', sans-serif;
    }
body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    height: max-content;
}
/* ---------------------------------------------------
            CONTENT STYLE
        ----------------------------------------------------- */
        .content-container {
            width: 100%;
            margin-left: 20%;

        }

        #content {
            width: 100%;
            padding: 20px;
            min-height: 100vh;
            transition: all 0.3s;
            
        }

        /* içerikkk */
        .main{
            padding: 1rem;
        }
        .main-border{
            border: 0.2rem solid #f0f0f0 !important;
            border-radius: 10px;
            
        }
        .main-bottom{
            padding: 1rem;
            border-bottom: 0.2rem solid #f0f0f0 !important;
        }
        .main-code{
            max-width: 100%;
            background-color: rgb(248, 248, 248);
            overflow: auto;
            background: #F8F9FA;
            color: rgba(0, 0, 0, 0.742); 
        }


        .markup{
            color: var(--black);
            text-align: left;
        }
        .ticket{
            color: rgba(229, 11, 36, 0.742);
        }
        .attr{
            color: rgb(12, 208, 230);
        }
        .mark{
            color:rgb(9, 5, 5);
        }
        ul a:hover {
            background-color: #49dbfc46;
            padding: 5px;
            border-radius: 5px;
        }

        /* site içerisindeki border için */
        .border-genel-container {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        
        }
        .border-genel{
            width: 100px;
            height: 100px;
            background-color: #f0f0f0;
        }
        .view{
            max-width: 100%;
        }
        /* kopyala yapıştır için html bölgemiz*/
        .kapsayici{
        display: flex;
        flex-direction: column;
        }
        .main-html{
        border-top: 1px solid #f0f0f0;
        background-color:#F8F9FA;
        display: flex;
        justify-content: space-between;
        }
        /* TABLE */
        .table-container {
            max-width: 100%;
            overflow-x: auto;
          }
        
          .table {
            width: 100%;
            border-collapse: collapse;
          }
          table {
            width: 100%;
            font-size: 14px;
          }
        
          .table th,
          .table td {
            padding: 8px 12px;
            border: 1px solid #ccc;
            text-align: center;
          }
        
          .table th {
            background-color: #f2f2f2;
            font-weight: bold;
          }
          .logo-sidebar img {
            width: 140px;
            margin-top: 10px;
            margin-left: 15px;
            margin-bottom: 5px;
          }
   /* SIDEBAR  */

   .hamburger {
    cursor: pointer;
  }
  .sidebar {
    position: absolute;
  }

  .navigation {
    left: -500px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.956);
    transition: 0.5s;
    z-index: 999;
    padding-top: 25px;
    overflow-y: scroll;
  }

  .hamburger,
  .bar {
    position: fixed;
    transition: 0.5s;
  }

  .hamburger {
    display: block;
    top: 6%;
    left: 30px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
  }
  .hamburger.open {
    left: 200px;
    transition: 0.5s;
  }

  .bar {
    top: 3px;
    background: black;
    width: 100%;
    height: 4px;
    transition: all 0.3s ease-in;
  }

  #bar2 {
    top: 11px;
  }

  #bar3 {
    top: 19px;
  }

  .navigation.active {
    left: 0;
  }

  .hamburger.open #bar1 {
    background-color: black;
    transform: rotate(45deg) translate(6px, 5px);
  }

  .hamburger.open #bar2 {
    background-color: transparent;
  }

  .hamburger.open #bar3 {
    background-color: black;
    transform: rotate(-45deg) translate(6px, -5px);
  }

 /* RESPONSIVE SIDEBAR  */

 @media screen and (min-width:1000px) {
    .hamburger {
        display: none !important;
    }
 }
 @media screen and (max-width:1000px) {
    .navigation {
        position: fixed;
        width: 250px;
    }
    .col-2 {
        width: 5% !important;
    }
    .content-container {
        margin-left: 9% !important;
    }
 }
 @media screen and (max-width:550px) {
    .content-container {
        margin-left: 15% !important;
    }
 }
 @media screen and (max-width:420px) {
    .navigation{
        width: 100% !important;
    }
    .hamburger.open {
        left: 80% !important;
    }
 }