<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neolabs | Frameworks</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inter:wght@400;600;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- SIDEBAR -->
        <div
          class="col-2 sidebar overflow-y-auto w-17 position-fixed top-0 left-0 bottom-0"
        >
        <div class="navigation">
          <button class="hamburger" onclick="show()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
          </button>
          <a class="logo-sidebar" href="../../index.html"
            ><img src="../../img/neos-logo.png" alt=""
          /></a>
          <ul class="w-100 ps-5">
            <li class="fs-5 p-2">
              <i class="neo-diagram-purple w-7"></i>
              Customize
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../colors/index.html" class="text-black fs-6"
                    >Color</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../shadow/index.html" class="text-black fs-6"
                    >Shadow</a
                  >
                </li>
              </ul>
            </li>
            <li class="fs-5 p-2">
              <i class="neo-box-neon w-7"></i>
              Layout
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../containers/index.html" class="text-black fs-6"
                    >Containers</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../grid/index.html" class="text-black fs-6">Grid</a>
                </li>
              </ul>
            </li>
            <li class="fs-5 p-2">
              <i class="neo-form-blue w-7"></i>
              Forms
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../select/index.html" class="text-black fs-6"
                    >Select</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../Checks-radios/index.html" class="text-black fs-6"
                    >Check & Radios</a
                  >
                </li>
                <li class="pb-3">
                  <a
                    href="../register-login-form/index.html"
                    class="text-black fs-6"
                    >Register & Login</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../input-group/index.html" class="text-black fs-6"
                    >Input Groups</a
                  >
                </li>
              </ul>
            </li>
            <li class="fs-5 p-2">
              <i class="neo-arrow-up-right w-7"></i>
              Functions
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../border/index.html" class="text-black fs-6"
                    >Border</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../display/index.html" class="text-black fs-6"
                    >Display</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../sizing/index.html" class="text-black fs-6"
                    >Sizing</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../sizing/index.html" class="text-black fs-6"
                    >Position</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../spacing/index.html" class="text-black fs-6"
                    >Spacing</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../Text/index.html" class="text-black fs-6">Text</a>
                </li>
              </ul>
            </li>
            <li class="fs-6 p-2">
              <i class="neo-server-brown w-7"></i>
              Components
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../navbar/index.html" class="text-black fs-6"
                    >Navbar</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../buttons/index.html" class="text-black fs-6"
                    >Buttons</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../card/index.html" class="text-black fs-6">Card</a>
                </li>
                <li class="pb-3">
                  <a href="../Carousel/index.html" class="text-black fs-6"
                    >Carousel</a
                  >
                </li>
                <li class="pb-3">
                  <a href="./index.html" class="text-black fs-6">Modals</a>
                </li>
                <li class="pb-3">
                  <a href="../Accordion/index.html" class="text-black fs-6"
                    >Accordion</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../Dropdown/index.html" class="text-black fs-6"
                    >Dropdowns</a
                  >
                </li>
              </ul>
            </li>
            <li class="fs-6 p-2">
              <i class="neo-pen-ruler-red w-7"></i>
              <a href="../Icons/index.html" class="text-black fs-6">Icons</a>
            </li>
            <li class="fs-6 p-2">About</li>
            <li class="fs-6 p-2">SSS</li>
            <li class="fs- p-2">Contact</li>
          </ul>
        </div>
        </div>
        <div class="col-10">
          <!--? İÇERİK KISMI  -->

          <div class="content-container">
            <div id="content">
              <!-- <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-neosblue">
                        
                        <span><i class="fas fa-align-left"></i></span>
                    </button>
                

                </div>
            -->

              <!-- OLUMLU-POPUP ÖZELLİKLERİ -->
                      <!-- this component created by github <=> allpingenn -->
              <div class="main">
                <span class="text-neosblue mt-5"><h1>MODALS</h1></span>
                <p class="fw-ligt mt-3 fs-6">
                  Neos, bileşenlerimizi ve estetiğimizi konu alan sağlam bir
                  renk düzenine sahiptir. Herhangi bir proje için bu, daha
                  kapsamlı özelleştirme ve genişletmeye izin verir.
                </p>
                <div class="main-item">
                  <div class="main-title">
                    <p class="mt-5 w-100 text-black fs-3 pb-4">#Olumlu Popup</p>
                  </div>
                  <div class="main-border">
                    <div class="container-pop m-5">
                      <button
                        type="submit"
                        class="btn-modal"
                        data-target="olumlu-popup"
                      >
                        Gönder
                      </button>
                      <div class="popup" id="olumlu-popup">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="3 3 16 16"
                        >
                          <defs>
                            <linearGradient
                              gradientUnits="userSpaceOnUse"
                              y2="-2.623"
                              x2="0"
                              y1="986.67"
                              id="0"
                            >
                              <stop stop-color="#ffce3b" />
                              <stop offset="1" stop-color="#ffd762" />
                            </linearGradient>
                            <linearGradient
                              y2="-2.623"
                              x2="0"
                              y1="986.67"
                              gradientUnits="userSpaceOnUse"
                            >
                              <stop stop-color="#ffce3b" />
                              <stop offset="1" stop-color="#fef4ab" />
                            </linearGradient>
                          </defs>
                          <g
                            transform="matrix(1.99997 0 0 1.99997-10.994-2071.68)"
                            fill="#da4453"
                          >
                            <rect
                              y="1037.36"
                              x="7"
                              height="8"
                              width="8"
                              fill="#32c671"
                              rx="4"
                            />
                            <path
                              d="m123.86 12.966l-11.08-11.08c-1.52-1.521-3.368-2.281-5.54-2.281-2.173 0-4.02.76-5.541 2.281l-53.45 53.53-23.953-24.04c-1.521-1.521-3.368-2.281-5.54-2.281-2.173 0-4.02.76-5.541 2.281l-11.08 11.08c-1.521 1.521-2.281 3.368-2.281 5.541 0 2.172.76 4.02 2.281 5.54l29.493 29.493 11.08 11.08c1.52 1.521 3.367 2.281 5.54 2.281 2.172 0 4.02-.761 5.54-2.281l11.08-11.08 58.986-58.986c1.52-1.521 2.281-3.368 2.281-5.541.0001-2.172-.761-4.02-2.281-5.54"
                              fill="#fff"
                              transform="matrix(.0436 0 0 .0436 8.177 1039.72)"
                              stroke="none"
                              stroke-width="9.512"
                            />
                          </g>
                        </svg>
                        <h2>Teşekkürler</h2>
                        <p>Bilgileriniz başarıyla gönderildi.</p>
                        <button
                          type="button"
                          data-target="olumlu-popup"
                          class="olumlu-popup"
                        >
                          Tamam
                        </button>
                      </div>
                    </div>

                    <div class="kapsayici">
                      <pre class="main-code fs-5 p-2">
                            <code >
<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"container-pop"</span><span class="mark">&gt;</span>
&nbsp;<span class="mark">&lt;</span><span class="ticket">button class=</span><span class="attr">"btn-modal"</span>&nbsp;<span class="ticket">type=</span><span class="attr">"submit"</span>&nbsp;<span class="ticket">data-target=</span><span class="attr">"olumlu-popup"</span><span class="mark">&gt;</span>Gönder<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">button</span><span class="mark">&gt;</span>
&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"popup"</span>&nbsp;<span class="ticket">id=</span><span class="attr">"olumlu-popup"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">svg xmlns=</span><span class="attr">"http://www.w3.org/2000/svg"</span>&nbsp;<span class="ticket">viewBox=</span><span class="attr">"3 3 16 16"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">defs</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">linearGradient gradientUnits=</span><span class="attr">"userSpaceOnUse"</span>&nbsp;<span class="ticket">y2=</span><span class="attr">"-2.623"</span>&nbsp;<span class="ticket">x2=</span><span class="attr">"0"</span>&nbsp;<span class="ticket">y1=</span><span class="attr">"986.67"</span>&nbsp;<span class="ticket">id=</span><span class="attr">"0"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">stop stop-color=</span><span class="attr">"#ffce3b"</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">stop stop-color=</span><span class="attr">"#ffd762"</span>&nbsp;<span class="ticket">offset=</span><span class="attr">"1"</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">linearGradient</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">linearGradient gradientUnits=</span><span class="attr">"userSpaceOnUse"</span>&nbsp;<span class="ticket">y2=</span><span class="attr">"-2.623"</span>&nbsp;<span class="ticket">x2=</span><span class="attr">"0"</span>&nbsp;<span class="ticket">y1=</span><span class="attr">"986.67"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">stop stop-color=</span><span class="attr">"#ffce3b"</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">stop stop-color=</span><span class="attr">"#fef4ab"</span>&nbsp;<span class="ticket">offset=</span><span class="attr">"1"</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">linearGradient</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">defs</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">g transform=</span><span class="attr">"matrix(1.99997 0 0 1.99997-10.994-2071.68)"</span>&nbsp;<span class="ticket">fill=</span><span class="attr">"#da4453"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">rect y=</span><span class="attr">"1037.36"</span>&nbsp;<span class="ticket">x=</span><span class="attr">"7"</span>&nbsp;<span class="ticket">height=</span><span class="attr">"8"</span>&nbsp;<span class="ticket">width=</span><span class="attr">"8"</span>&nbsp;<span class="ticket">fill=</span><span class="attr">"#32c671"</span>&nbsp;<span class="ticket">rx=</span><span class="attr">"4"</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">path d=</span><span class="attr">"m123.86 12.966l-11.08-11.08c-1.52-1.521-3.368-2.281-5.54-2.281-2.173 0-4.02.76-5.541 2.281l-53.45 53.53-23.953-24.04c-1.521-1.521-3.368-2.281-5.54-2.281-2.173 0-4.02.76-5.541 2.281l-11.08 11.08c-1.521 1.521-2.281 3.368-2.281 5.541 0 2.172.76 4.02 2.281 5.54l29.493 29.493 11.08 11.08c1.52 1.521 3.367 2.281 5.54 2.281 2.172 0 4.02-.761 5.54-2.281l11.08-11.08 58.986-58.986c1.52-1.521 2.281-3.368 2.281-5.541.0001-2.172-.761-4.02-2.281-5.54"</span>&nbsp;<span class="ticket">fill=</span><span class="attr">"#fff"</span>&nbsp;<span class="ticket">transform=</span><span class="attr">"matrix(.0436 0 0 .0436 8.177 1039.72)"</span>&nbsp;<span class="ticket">stroke=</span><span class="attr">"none"</span>&nbsp;<span class="ticket">stroke-width=</span><span class="attr">"9.512"</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">g</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">svg</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">h2</span><span class="mark">&gt;</span>Teşekkürler<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">h2</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">p</span><span class="mark">&gt;</span>Bilgileriniz başarıyla gönderildi.<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">button type=</span><span class="attr">"button"</span>&nbsp;<span class="ticket">data-target=</span><span class="attr">"olumlu-popup"</span>&nbsp;<span class="ticket">class=</span><span class="attr">"olumlu-popup"</span><span class="mark">&gt;</span>Tamam<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">button</span><span class="mark">&gt;</span>
&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>

                        </code>
                          </pre>
                      <div class="main-html d-flex pt-2 p-2">
                        <p class="text-black fs-6 fw-normal mt-2">HTML</p>
                        <div class="d-flex ms-auto">
                          <button type="button" class="p-1">
                            <img
                              class="fa-copy w-30"
                              src="../../img/copy-img.png"
                              alt="copy"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- OLUMSUZ-POPUP ÖZELLİKLERİ -->
                      <!-- this component created by github <=> allpingenn -->
              <div class="main">
                <div class="main-item">
                  <div class="main-title">
                    <p class="mt-5 w-100 text-black fs-3 pb-4">
                      #Olumsuz Popup
                    </p>
                  </div>
                  <div class="main-border">
                    <div class="container-pop m-5">
                      <button
                        type="submit"
                        class="btn-modal"
                        data-target="olumsuz-popup"
                      >
                        Gönder
                      </button>
                      <div class="popup" id="olumsuz-popup">
                        <svg
                          version="1.1"
                          id="Layer_1"
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          x="0px"
                          y="0px"
                          viewBox="0 0 450 450"
                          enable-background="new 0 0 450 450"
                          xml:space="preserve"
                        >
                          <circle fill="#CC3333" cx="225" cy="225" r="225" />
                          <g>
                            <line
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="70"
                              x1="106.742"
                              y1="110.083"
                              x2="343.258"
                              y2="346.599"
                            />
                            <line
                              fill="#FFFFFF"
                              stroke="#FFFFFF"
                              stroke-width="70"
                              x1="106.742"
                              y1="346.599"
                              x2="343.258"
                              y2="110.084"
                            />
                          </g>
                        </svg>
                        <h2>Hata !</h2>
                        <p>Bilgileriniz Gönderilirken Bir Sorun Oluştu.</p>
                        <button
                          type="button"
                          data-target="olumsuz-popup"
                          class="olumsuz-popup"
                        >
                          Tamam
                        </button>
                      </div>
                    </div>

                    <div class="kapsayici">
                      <pre class="main-code fs-5 p-2">
                            <code >
<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"container-pop"</span><span class="mark">&gt;</span>
&nbsp;<span class="mark">&lt;</span><span class="ticket">button class=</span><span class="attr">"btn-modal"</span>&nbsp;<span class="ticket">type=</span><span class="attr">"submit"</span>&nbsp;<span class="ticket">data-target=</span><span class="attr">"olumsuz-popup"</span><span class="mark">&gt;</span>Gönder<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">button</span><span class="mark">&gt;</span>
&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">div class=</span><span class="attr">"popup"</span>&nbsp;<span class="ticket">id=</span><span class="attr">"olumsuz-popup"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">svg xmlns=</span><span class="attr">"http://www.w3.org/2000/svg"</span>&nbsp;<span class="ticket">viewBox=</span><span class="attr">"0 0 450 450"</span>&nbsp;<span class="ticket">xmlns:xlink=</span><span class="attr">"http://www.w3.org/1999/xlink"</span>&nbsp;<span class="ticket">enable-background=</span><span class="attr">"new 0 0 450 450"</span>&nbsp;<span class="ticket"> xml:space=</span><span class="attr">"preserve"</span>&nbsp;<span class="ticket">y=</span><span class="attr">"0px"</span>&nbsp;<span class="ticket">x=</span><span class="attr">"0px"</span>&nbsp;<span class="ticket">version=</span><span class="attr">"1.1"</span>&nbsp;<span class="ticket">id=</span><span class="attr">"Layer_1"</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">circle fill=</span><span class="attr">"#CC3333"</span>&nbsp;<span class="ticket">cx=</span><span class="attr">"225"</span>&nbsp;<span class="ticket">cy=</span><span class="attr">"225"</span>&nbsp;<span class="ticket">r=</span><span class="attr">"225"</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">g</span></span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">line fill=</span><span class="attr">"#FFFFFF"</span>&nbsp;<span class="ticket">stroke=</span><span class="attr">"#FFFFFF"</span>&nbsp;<span class="ticket">stroke-width=</span><span class="attr">"70"</span>&nbsp;<span class="ticket">x1=</span><span class="attr">"106.742"</span>&nbsp;<span class="ticket">y1=</span><span class="attr">"110.083"</span>&nbsp;<span class="ticket">x2=</span><span class="attr">"343.258"</span>&nbsp;<span class="ticket">y2=</span><span class="attr">"346.599"</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">line fill=</span><span class="attr">"#FFFFFF"</span>&nbsp;<span class="ticket">stroke=</span><span class="attr">"#FFFFFF"</span>&nbsp;<span class="ticket">stroke-width=</span><span class="attr">"70"</span>&nbsp;<span class="ticket">x1=</span><span class="attr">"106.742"</span>&nbsp;<span class="ticket">y1=</span><span class="attr">"346.599"</span>&nbsp;<span class="ticket">x2=</span><span class="attr">"343.258"</span>&nbsp;<span class="ticket">y2=</span><span class="attr">"110.084"</span>&nbsp;/<span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">g</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">svg</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">h2</span><span class="mark">&gt;</span>Hata!<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">h2</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">p</span><span class="mark">&gt;</span>Bilgileriniz Gönderilirken Bir Sorun Oluştu.<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
&nbsp;&nbsp;&nbsp;<span class="mark">&lt;</span><span class="ticket">button type=</span><span class="attr">"button"</span>&nbsp;<span class="ticket">data-target=</span><span class="attr">"olumsuz-popup"</span>&nbsp;<span class="ticket">class=</span><span class="attr">"olumsuz-popup"</span><span class="mark">&gt;</span>Tamam<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">button</span><span class="mark">&gt;</span>
&nbsp;<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">div</span><span class="mark">&gt;</span>

                        </code>
                          </pre>
                        <!-- @allpingenn -->  
                      <div class="main-html d-flex pt-2 p-2">
                        <p class="text-black fs-6 fw-normal mt-2">HTML</p>
                        <div class="d-flex ms-auto">
                          <button type="button" class="p-1">
                            <img
                              class="fa-copy w-30"
                              src="../../img/copy-img.png"
                              alt="copy"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../main.js"></script>
    <script src="../../script.js"></script>
  </body>
</html>
