<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>text</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Inter:wght@400;600;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- SIDEBAR -->
        <div
          class="col-2 sidebar overflow-y-auto w-17 position-fixed top-0 left-0 bottom-0"
        >
          <a class="logo-sidebar" href="../../index.html"
            ><img src="../../img/neos-logo.png" alt=""
          /></a>
          <ul class="w-100 ps-5">
            <li class="fs-5 p-2">
              <i class="neo-diagram-purple w-7"></i>
              Customize
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../colors/index.html" class="text-black fs-6"
                    >Color</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../shadow/index.html" class="text-black fs-6"
                    >Shadow</a
                  >
                </li>
              </ul>
            </li>
            <li class="fs-5 p-2">
              <i class="neo-box-neon w-7"></i>
              Layout
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../containers/index.html" class="text-black fs-6"
                    >Containers</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../grid/index.html" class="text-black fs-6">Grid</a>
                </li>
              </ul>
            </li>
            <li class="fs-5 p-2">
              <i class="neo-form-blue w-7"></i>
              Forms
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../select/index.html" class="text-black fs-6"
                    >Select</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../Checks-radios/index.html" class="text-black fs-6"
                    >Check & Radios</a
                  >
                </li>
                <li class="pb-3">
                  <a
                    href="../register-login-form/index.html"
                    class="text-black fs-6"
                    >Register & Login</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../input-group/index.html" class="text-black fs-6"
                    >Input Groups</a
                  >
                </li>
              </ul>
            </li>
            <li class="fs-5 p-2">
              <i class="neo-arrow-up-right w-7"></i>
              Functions
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../border/index.html" class="text-black fs-6"
                    >Border</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../display/index.html" class="text-black fs-6"
                    >Display</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../sizing/index.html" class="text-black fs-6"
                    >Sizing</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../sizing/index.html" class="text-black fs-6"
                    >Position</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../spacing/index.html" class="text-black fs-6"
                    >Spacing</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../Text/index.html" class="text-black fs-6">Text</a>
                </li>
              </ul>
            </li>
            <li class="fs-6 p-2">
              <i class="neo-server-brown w-7"></i>
              Components
              <ul class="ps-4 pt-3">
                <li class="pb-3">
                  <a href="../buttons/index.html" class="text-black fs-6"
                    >Buttons</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../card/index.html" class="text-black fs-6">Card</a>
                </li>
                <li class="pb-3">
                  <a href="../Carousel/index.html" class="text-black fs-6"
                    >Carousel</a
                  >
                </li>
                <li class="pb-3">
                  <a href="../Dropdown/index.html" class="text-black fs-6"
                    >Dropdowns</a
                  >
                </li>
              </ul>
            </li>

            <li class="fs-6 p-2">About</li>
            <li class="fs-6 p-2">SSS</li>
            <li class="fs- p-2">Contact</li>
          </ul>
        </div>
        <div class="col-10">
          <!--? İÇERİK KISMI  -->

          <div class="content-container">
            <div id="content">
              <!-- text ÖZELLİKLERİ -->
              <div class="main">
                <span class="text-neosblue mt-5"><h1>Text</h1></span>
                <p class="fw-ligt mt-3 fs-6 mb-4">
                  Hizalamayı, kaydırmayı, tasarlamayı ve daha fazlasını kontrol
                  etmek için ortak metin programlarında kullanbilecek belgeler
                  ve örnekler içermektedir.
                </p>
                <div class="main-item">
                  <div class="main-title"></div>
                  <div class="main-border">
                    <div class="main-bottom position-relative">
                      <p class="text-center">text-center</p>
                      <p class="text-end">text-end</p>
                      <p class="text-justify">text-justify</p>
                      <p class="text-right">text-right</p>
                      <p class="text-left">text-left</p>
                      <p class="text-start">text-start</p>
                    </div>

                    <div class="kapsayici">
                      <pre class="main-code fs-5 p-2">
                            <code >
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"text-center"</span><span class="mark">&gt;</span>text-center<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"text-end"</span><span class="mark">&gt;</span>text-end<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"text-justify"</span><span class="mark">&gt;</span>text-justify<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"text-right"</span><span class="mark">&gt;</span>text-right<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"text-left"</span><span class="mark">&gt;</span>text-left<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"text-start"</span><span class="mark">&gt;</span>text-start<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
                        </code>
                          </pre>
                      <div class="main-html d-flex pt-2 p-2">
                        <p class="text-black fs-6 fw-normal mt-2">HTML</p>
                        <div class="d-flex ms-auto">
                          <button type="button" class="p-1">
                            <img
                              class="fa-copy w-30"
                              src="../../img/copy-img.png"
                              alt="copy"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- text Decoration -->
              <div class="main">
                <p class="mt-5 w-100 text-black fs-3 pb-4">#Text Decoration</p>
                <div class="main-item">
                  <div class="main-title"></div>
                  <div class="main-border">
                    <div class="main-bottom position-relative">
                      <p class="text-decoration-line-through">
                        text-decoration-line-through
                      </p>
                      <p class="text-decoration-underline">
                        text-decoration-underline
                      </p>
                      <p class="text-decoration-none">text-decoration-none</p>
                    </div>

                    <div class="kapsayici">
                      <pre class="main-code fs-5 p-2">
                            <code >
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"text-decoration-line-through"</span><span class="mark">&gt;</span>text-decoration-line-through<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"text-decoration-underline"</span><span class="mark">&gt;</span>text-decoration-underline<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"text-decoration-none"</span><span class="mark">&gt;</span>text-decoration-none<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
                        </code>
                          </pre>
                      <div class="main-html d-flex pt-2 p-2">
                        <p class="text-black fs-6 fw-normal mt-2">HTML</p>
                        <div class="d-flex ms-auto">
                          <button type="button" class="p-1">
                            <img
                              class="fa-copy w-30"
                              src="../../img/copy-img.png"
                              alt="copy"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Font-Size -->
              <div class="main">
                <p class="mt-5 w-100 text-black fs-3 pb-4">#Font-Size</p>
                <div class="main-item">
                  <div class="main-title"></div>
                  <div class="main-border">
                    <div class="main-bottom position-relative">
                      <p class="fs-0">Neos</p>
                      <p class="fs-1">Neos</p>
                      <p class="fs-2">Neos</p>
                      <p class="fs-3">Neos</p>
                      <p class="fs-4">Neos</p>
                      <p class="fs-5">Neos</p>
                      <p class="fs-6">Neos</p>
                    </div>

                    <div class="kapsayici">
                      <pre class="main-code fs-5 p-2">
                            <code >
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"fs-0"</span><span class="mark">&gt;</span>fs-0<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"fs-1"</span><span class="mark">&gt;</span>fs-1<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"fs-2"</span><span class="mark">&gt;</span>fs-2<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"fs-3"</span><span class="mark">&gt;</span>fs-3<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"fs-4"</span><span class="mark">&gt;</span>fs-4<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"fs-5"</span><span class="mark">&gt;</span>fs-5<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"fs-6"</span><span class="mark">&gt;</span>fs-6<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
                        </code>
                          </pre>
                      <div class="main-html d-flex pt-2 p-2">
                        <p class="text-black fs-6 fw-normal mt-2">HTML</p>
                        <div class="d-flex ms-auto">
                          <button type="button" class="p-1">
                            <img
                              class="fa-copy w-30"
                              src="../../img/copy-img.png"
                              alt="copy"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- font-weight -->
              <div class="main">
                <p class="mt-5 w-100 text-black fs-3 pb-4">#Font-Weight</p>
                <div class="main-item">
                  <div class="main-title"></div>
                  <div class="main-border">
                    <div class="main-bottom position-relative">
                      <p class="fw-semibold">Neos</p>
                      <p class="fw-bold">Neos</p>
                      <p class="fw-normal">Neos</p>
                      <p class="fw-light">Neos</p>
                    </div>

                    <div class="kapsayici">
                      <pre class="main-code fs-5 p-2">
                            <code >
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"fw-semibold"</span><span class="mark">&gt;</span>fw-semibold<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"fw-bold"</span><span class="mark">&gt;</span>fw-bold<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"fw-normal"</span><span class="mark">&gt;</span>fw-normal<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"fw-light"</span><span class="mark">&gt;</span>fw-light<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
                        </code>
                          </pre>
                      <div class="main-html d-flex pt-2 p-2">
                        <p class="text-black fs-6 fw-normal mt-2">HTML</p>
                        <div class="d-flex ms-auto">
                          <button type="button" class="p-1">
                            <img
                              class="fa-copy w-30"
                              src="../../img/copy-img.png"
                              alt="copy"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- font-height -->
              <div class="main">
                <p class="mt-5 w-100 text-black fs-3 pb-4">#Font-Height</p>
                <div class="main-item">
                  <div class="main-title"></div>
                  <div class="main-border">
                    <div class="main-bottom position-relative">
                      <p class="lh-1 pb-4">
                        Binlerce başarılı mezunu ve dünya genelinde az bulunur
                        niteliklere sahip uzman kadrosuyla ”Türkiye’nin En İyi
                        Yazılım Akademisi” ödülünün sahibi Neos Yazılım Akademi;
                        İstanbul, Ankara, İzmir ve Bursa şubelerinde yüz yüze
                        yazılım eğitimleri ve dünyanın her yerindeki
                        katılımcıları için online yazılım kursları sunmaktadır.
                      </p>
                      <p class="lh-base pb-4">
                        Binlerce başarılı mezunu ve dünya genelinde az bulunur
                        niteliklere sahip uzman kadrosuyla ”Türkiye’nin En İyi
                        Yazılım Akademisi” ödülünün sahibi Neos Yazılım Akademi;
                        İstanbul, Ankara, İzmir ve Bursa şubelerinde yüz yüze
                        yazılım eğitimleri ve dünyanın her yerindeki
                        katılımcıları için online yazılım kursları sunmaktadır.
                      </p>
                      <p class="lh-lg pb-4">
                        Binlerce başarılı mezunu ve dünya genelinde az bulunur
                        niteliklere sahip uzman kadrosuyla ”Türkiye’nin En İyi
                        Yazılım Akademisi” ödülünün sahibi Neos Yazılım Akademi;
                        İstanbul, Ankara, İzmir ve Bursa şubelerinde yüz yüze
                        yazılım eğitimleri ve dünyanın her yerindeki
                        katılımcıları için online yazılım kursları sunmaktadır.
                      </p>
                    </div>

                    <div class="kapsayici">
                      <pre class="main-code fs-5 p-2">
                            <code >
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"lh-1"</span><span class="mark">&gt;</span>lh-1<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"lh-base"</span><span class="mark">&gt;</span>lh-base<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
<span class="mark">&lt;</span><span class="ticket">p class=</span><span class="attr">"lh-lg"</span><span class="mark">&gt;</span>lh-lg<span class="mark">&lt;</span><span class="mark">/</span><span class="ticket">p</span><span class="mark">&gt;</span>
                        </code>
                          </pre>
                      <div class="main-html d-flex pt-2 p-2">
                        <p class="text-black fs-6 fw-normal mt-2">HTML</p>
                        <div class="d-flex ms-auto">
                          <button type="button" class="p-1">
                            <img
                              class="fa-copy w-30"
                              src="../../img/copy-img.png"
                              alt="copy"
                            />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../../main.js"></script>
  </body>
</html>
